@import './partials/about';
@import './partials/blog';
@import './partials/buttons';
@import './partials/delivery';
@import './partials/footer';
@import './partials/general';
@import './partials/header';
@import './partials/hero';
@import './partials/store';

body {
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
