<section class="about-section">
  <h2 class="about-section__heading">About</h2>
  <div class="about-section__flex-box">
    <p class="about-section__text">
      We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give
      people the beauty and joy creating stylish and modern masterpieces. Every bouquet we create is
      unique as you are.
    </p>
    <img
      src="/src/images/about/about-flower-288w.jpg"
      srcset="
        /src/images/about/about-flower-288w.jpg     288w,
        /src/images/about/about-flower-288w@2x.jpg  576w,
        /src/images/about/about-flower-344w.jpg     344w,
        /src/images/about/about-flower-344w@2x.jpg  688w,
        /src/images/about/about-flower-632w.jpg     632w,
        /src/images/about/about-flower-632w@2x.jpg 1264w
      "
      sizes="(min-width: 1280px) 632px, (min-width: 768px) 344px, 288px"
      alt="dwa leżące jasno-pomarańczowe kwiatki z zielonymi liśćmi"
    />
  </div>
</section>
