<section class="blog-section">
  <div class="container">
    <h2 class="blog-section__header">Blog</h2>
    <div class="blog-section__images">
      <img
        class="blog-section__img"
        src="/src/images/blog/blog-flower-1-136w.jpg"
        srcset="
          /src/images/blog/blog-flower-1-136w.jpg    136w,
          /src/images/blog/blog-flower-1-136w@2x.jpg 272w,
          /src/images/blog/blog-flower-1-344w.jpg    344w,
          /src/images/blog/blog-flower-1-344w@2x.jpg 688w,
          /src/images/blog/blog-flower-1-390w.jpg    390w,
          /src/images/blog/blog-flower-1-390w@2x.jpg 780w
        "
        sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, 136px"
        alt="zielone rośliny"
      />
      <img
        class="blog-section__img"
        src="/src/images/blog/blog-flower-2-136w.jpg"
        srcset="
          /src/images/blog/blog-flower-2-136w.jpg    136w,
          /src/images/blog/blog-flower-2-136w@2x.jpg 272w,
          /src/images/blog/blog-flower-2-344w.jpg    344w,
          /src/images/blog/blog-flower-2-344w@2x.jpg 688w,
          /src/images/blog/blog-flower-2-390w.jpg    390w,
          /src/images/blog/blog-flower-2-390w@2x.jpg 780w
        "
        sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, 136px"
        alt="pomarańczowy kwiatek"
      />
      <img
        class="blog-section__img no-visibility"
        src="/src/images/blog/blog-flower-3-390w.jpg"
        srcset="
          /src/images/blog/blog-flower-3-390w.jpg    390w,
          /src/images/blog/blog-flower-3-390w@2x.jpg 780w
        "
        sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, 136px"
        alt="błękitny kwiatek"
      />
    </div>
    <div class="button-arrows">
      <svg class="button-arrows__svg">
        <use href="./images/icons.svg#icon-left-arrow"></use>
      </svg>
      <svg class="button-arrows__svg">
        <use href="./images/icons.svg#icon-right-arrow"></use>
      </svg>
    </div>
    <div class="blog-section__button-box">
      <p class="blog-section__title">Follow to our newsletter</p>
      <button class="blog-section__button" data-modal-open>Subscribe</button>
    </div>
    <div class="section-blog__modal">
      <button class="title__button" type="BUTTON" data-modal-open>Subscribe</button>
      <div class="modal is-hidden" data-modal>
        <div class="modal-content">
          <button class="modal-content__close" data-modal-close>
            <svg class="modal-content__icon">
              <use href="./images/icons.svg#icon-close"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
