<section class="section-blog">
  <div class="container">
    <h2 class="section-blog__heading--title">BLOG</h2>

    <div class="section-blog__picture--box">
      <picture>
        <source srcset="./images/blog-flower-1-390w@2x.jpg 2x" media="(min-width: 1200px)" />
        <source srcset="./images/blog-flower-1-344w@2x.jpg 2x" media="(min-width: 768px)" />
        <source srcset="./images/blog-flower-1-136w@2x.jpg 2x" media="(min-width: 480px)" />
        <img
          src="./images/blog-flower-1-390w.jpg 390w, ./images/blog-flower-1-344w.jpg 344w, ./images/blog-flower-1-136w.jpg 136w"
          alt="kwiatki"
        />
      </picture>

      <picture>
        <source srcset="./images/blog-flower-2-390w@2x.jpg 2x" media="(min-width: 1200px)" />
        <source srcset="./images/blog-flower-2-344w@2x.jpg 2x" media="(min-width: 768px)" />
        <source srcset="./images/blog-flower-2-136w@2x.jpg 2x" media="(min-width: 480px)" />
        <img
          src="./images/blog-flower-2-390w.jpg 390w, ./images/blog-flower-2-344w.jpg 344w, ./images/blog-flower-2-136w.jpg 136w"
          alt="kwiatki"
        />
      </picture>

      <picture>
        <source srcset="./images/blog-flower-3-390w@2x.jpg 2x" media="(min-width: 1200px)" />
        <img
          src="./images/blog-flower-3-390w.jpg 390w, ./images/blog-flower-3-344w.jpg 344w, ./images/blog-flower-3-136w.jpg 136w"
          alt="kwiatki"
          class="section-blog__picture--box-picture"
        />
      </picture>
    </div>

    <div class="section-blog__footer--button">
      <p class="section-blog__title">Follow to our newsletter</p>

      <button class="section-blog__button" data-modal-open>Subscribe</button>
    </div>
  </div>
</section>

<div class="" data-modal>
  <div class="modal">
    <button type="button" class="section-blog__button-close" data-modal-close>X</button>
    <div class="section-blog__modal--picture"></div>
    <p class="section-blog__modal--text">Follow to our newsletter</p>

    <p class="section-blog__modal--description">
      Be the first to get exclusive offers and the latest news on our product directly in your box.
    </p>

    <form class="section-blog__modal--form">
      <p class="section-blog__modal--form-text">Email</p>
      <input type="email" placeholder="Your email" class="section-blog__modal--form-input" />
    </form>

    <button type="submit" class="section-blog__modal--modal-button">Subscribe</button>
  </div>
</div>
