<section class="section-blog">
  <div class="section-blog__container">
    <!--MODAL-->
    <div class="section-blog__modal">
        <button class="title__button" type="BUTTON" data-modal-open>
            Subscribe
          </button>
          <div class="modal is-hidden" data-modal>
            <div class="modal-content">
              <button class="modal-content__close" data-modal-close>
                <svg class="modal-content__icon">
                  <use href="./images/icons.svg#icon-close"></use>
                </svg>
              </button>
            </div>
        </div>
        </div>
    </div>
  </div>
</section>
</div>
