<section>
    <div class="container">
      <div class="delivery-content">
      <h2 class="delivery-title">DELIVERY</h2>
      <a class="delivery-border"></a>
    </div>
      <div class="delivery">
        <ul class="delivery-list">
          <li class="delivery-item">1</li>
          <li>Choose your bouquet and make an order on website</li>
        </ul>
      </div>
      <div class="delivery">
        <ul class="delivery-list">
          <li class="delivery-item">2</li>
          <li>Wait for the call to clarify the details of the order.
            You can pay online or to the courier</li>
        </ul>
      </div>
      <div class="delivery">
        <ul class="delivery-list">
          <li class="delivery-item">3</li>
          <li>Wait for the delivery at the selected time or pick up
            the order from the store </li>
        </ul>
      </div>
      <div class="delivery">
        <ul class="delivery-list">
          <li class="delivery-item">4</li>
          <li>Make someone happy or enjoy yourself</li>
        </ul>
      </div>
    </div>
    <div>
      <img
        alt="flowers"
        src="./images/delivery/deilvery-flower-320w.jpg"
        srcset="
          ./images/delivery/deilvery-flower-320w.jpg      320w,
          ./images/delivery/deilvery-flower-320w@2x.jpg   640w,
          ./images/delivery/deilvery-flower-768w.jpg     7384w,
          ./images/delivery/deilvery-flower-768w@2x.jpg   768w,
          ./images/delivery/deilvery-flower-1280w.jpg     640w,
          ./images/delivery/deilvery-flower-1280w@2x.jpg 1280w
        "
        sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
        class="delivery-img"
      />
      <div>
  </section>
  
  
  