<section>
    <div class="container">
      <div class="delivery__content">
      <h2 class="delivery__title">DELIVERY</h2>
    </div>
      <div class="delivery">
        <ul class="delivery__list">
          <li class="delivery__item">1</li>
          <li class="delivery__text">Choose your bouquet and make an order on website</li>
        </ul>
      </div>
      <div class="delivery">
        <ul class="delivery__list">
          <li class="delivery__item">2</li>
          <li class="delivery__text">Wait for the call to clarify the details of the order.
            You can pay online or to the courier</li>
        </ul>
      </div>
      <div class="delivery">
        <ul class="delivery__list">
          <li class="delivery__item">3</li>
          <li class="delivery__text">Wait for the delivery at the selected time or pick up
            the order from the store </li>
        </ul>
      </div>
      <div class="delivery">
        <ul class="delivery__list">
          <li class="delivery__item">4</li>
          <li class="delivery__text">Make someone happy or enjoy yourself</li>
        </ul>
      </div>
    </div>
    <div>
      <img
        alt="flowers"
        src="/src/images/delivery/deilvery-flower-320w.jpg"
        srcset="
          /src/images/delivery/deilvery-flower-320w.jpg      320w,
          /src/images/delivery/deilvery-flower-320w@2x.jpg   640w,
          /src/images/delivery/deilvery-flower-768w.jpg     7384w,
          /src/images/delivery/deilvery-flower-768w@2x.jpg   768w,
          /src/images/delivery/deilvery-flower-1280w.jpg     640w,
          /src/images/delivery/deilvery-flower-1280w@2x.jpg 1280w
        "
        sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, 100vw"
        class="delivery__img"
      />
      <div>
  </section>
  
  
  