<section class="header-section container">
  <div class="header-section__item1">
    <a href="#">
      <svg class="header-section__logo">
        <use href="./images/icons.svg#icon-logo-mobile"></use>
      </svg>
    </a>
  </div>
  <div class="header-section__item2">
    <ul class="header-section__nav">
      <li class="header-nav__item"><a href="#">Anemone</a></li>
      <li class="header-nav__item"><a href="#">About</a></li>
      <li class="header-nav__item"><a href="#">Store</a></li>
      <li class="header-nav__item"><a href="#">Delivery</a></li>
      <li class="header-nav__item"><a href="#">Blog</a></li>
    </ul>
  </div>
  <div class="header-section__item3">
    <a href="tel:+38 063 123 45 67">
      <svg class="header-section__tel">
        <use href="./images/icons.svg#icon-tel"></use>
      </svg>
    </a>
  </div>
  <div class="header-section__item4">
    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="menu-toggle__icon">
        <use href="./images/icons.svg#icon-Burger"></use>
      </svg>
    </button>
    <div class="menu-container js-menu-container" id="mobile-menu">
      <button class="menu-toggle js-close-menu">
        <svg class="menu-toggle__close">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="mobile-menu">
        <li class="mobile-menu__item"><a href="">Anemone</a></li>
        <li class="mobile-menu__item"><a href="">About us</a></li>
        <li class="mobile-menu__item"><a href="">Store</a></li>
        <li class="mobile-menu__item"><a href="">Delivery</a></li>
        <li class="mobile-menu__item"><a href="">Blog</a></li>
      </ul>
    </div>
  </div>
</section>
