<section class="header-section container">
  <div class="header-section__item1">
    <svg class="header-section__logo">
      <use href="./images/icons.svg#icon-logo-mobile"></use>
    </svg>
  </div>
  <div class="header-section__item2">
    <ul class="header-section__nav">
      <li class="header-nav__item"><a href="#">Anemone</a></li>
      <li class="header-nav__item"><a href="#">About</a></li>
      <li class="header-nav__item"><a href="#">Store</a></li>
      <li class="header-nav__item"><a href="#">Delivery</a></li>
      <li class="header-nav__item"><a href="#">Blog</a></li>
    </ul>
  </div>
  <div class="header-section__item3">
    <a href="tel:+38 063 123 45 67">
      <svg class="header-section__tel">
        <use href="./images/icons.svg#icon-tel"></use>
      </svg>
    </a>
  </div>
  <div class="header-section__item4">
    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="menu-toggle__icon">
        <use href="./images/icons.svg#icon-Burger"></use>
      </svg>
    </button>
    <div class="menu-container js-menu-container" id="mobile-menu">
      <button class="menu-toggle js-close-menu">
        <svg
          class="menu-toggle__icon--close"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
      <ul class="mobile-menu">
        <li><a href="" class="mobile-menu__item">Anemone</a></li>
        <li><a href="" class="mobile-menu__item">About us</a></li>
        <li><a href="" class="mobile-menu__item">Store</a></li>
        <li><a href="" class="mobile-menu__item">Delivery</a></li>
        <li><a href="" class="mobile-menu__item">Blog</a></li>
      </ul>
    </div>
  </div>
</section>
