<body class="header">
  <section class="header-section container">
    <div class="header-section__item1">
      <svg class="header-section__logo">
        <use href="./images/icons.svg#icon-logo-mobile"></use>
      </svg>
    </div>
    <div class="header-section__item2">
      <ul class="header-section__nav">
        <li class="header-nav__item"><a href="#">Anemone</a></li>
        <li class="header-nav__item"><a href="#">About</a></li>
        <li class="header-nav__item"><a href="#">Store</a></li>
        <li class="header-nav__item"><a href="#">Delivery</a></li>
        <li class="header-nav__item"><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="header-section__item3">
      <a href="tel:+38 063 123 45 67">
        <svg class="header-section__tel">
          <use href="./images/icons.svg#icon-tel"></use>
        </svg>
      </a>
    </div>
    <div class="header-section__item4"></div>
  </section>
</body>
