<section>
  <div class="container">
    <h2 class="our-offer">store</h2>
    <ul class="our-offer__wrapper">
      <li class="our-offer__item">
        <img
          src="./images/store/store-flower-1-136w.jpg"
          srcset="
            ./images/store/store-flower-1-136w.jpg     136w,
            ./images/store/store-flower-1-136w@2x.jpg  272w,
            ./images/store/store-flower-1-344w.jpg     344w,
            ./images/store/store-flower-1-344w@2x.jpg  688w,
            ./images/store/store-flower-1-600w.jpg     600w,
            ./images/store/store-flower-1-600w@2x.jpg 1200w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, 100nw"
          class="our-offer__item--img"
          alt="red flowers"
        />
        <p class="our-offer__text">compliments</p>
        <p class="our-offer__text--price">from $15</p>
      </li>
      <li class="our-offer__item">
        <img
          src="./images/store/store-flower-2-136w.jpg"
          srcset="
            ./images/store/store-flower-2-136w.jpg     136w,
            ./images/store/store-flower-2-136w@2x.jpg  272w,
            ./images/store/store-flower-2-344w.jpg     344w,
            ./images/store/store-flower-2-344w@2x.jpg  688w,
            ./images/store/store-flower-2-600w.jpg     600w,
            ./images/store/store-flower-2-600w@2x.jpg 1200w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, 100vw"
          class="our-offer__item--img"
          alt="white flowers"
        />
        <p class="our-offer__text">bouquets size S</p>
        <p class="our-offer__text--price">from $25</p>
      </li>
      <li class="our-offer__item">
        <img
          src="./images/store/store-flower-3-136w.jpg"
          srcset="
            ./images/store/store-flower-3-136w.jpg     136w,
            ./images/store/store-flower-3-136w@2x.jpg  272w,
            ./images/store/store-flower-3-344w.jpg     344w,
            ./images/store/store-flower-3-344w@2x.jpg  688w,
            ./images/store/store-flower-3-600w.jpg     600w,
            ./images/store/store-flower-3-600w@2x.jpg 1200w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, 100vw"
          class="our-offer__item--img"
          alt="blue flowers"
        />
        <p class="our-offer__text">bouquets size M</p>
        <p class="our-offer__text--price">from $45</p>
      </li>
      <li class="our-offer__item">
        <img
          src="./images/store/store-flower-4-136w.jpg"
          srcset="
            ./images/store/store-flower-4-136w.jpg     136w,
            ./images/store/store-flower-4-136w@2x.jpg  272w,
            ./images/store/store-flower-4-344w.jpg     344w,
            ./images/store/store-flower-4-344w@2x.jpg  688w,
            ./images/store/store-flower-4-600w.jpg     600w,
            ./images/store/store-flower-4-600w@2x.jpg 1200w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, 100vw"
          class="our-offer__item--img"
          alt="various colours flowers"
        />
        <p class="our-offer__text">bouquets size L</p>
        <p class="our-offer__text--price">from $60</p>
      </li>
    </ul>
    <div class="button">
      <button type="button" class="button__item">Order flowers</button>
    </div>
  </div>
</section>
