<section>
  <div class="container">
    <h2 class="our-offer">store</h2>
    <ul class="our-offer__wrapper">
      <li class="our-offer__item">
        <img
          src="/src/images/store/store-flower-1-136w.jpg"
          srcset="
            /src/images/store/store-flower-1-136w.jpg     136w,
            /src/images/store/store-flower-1-136w@2x.jpg  272w,
            /src/images/store/store-flower-1-344w.jpg     344w,
            /src/images/store/store-flower-1-344w@2x.jpg  688w,
            /src/images/store/store-flower-1-600w.jpg     600w,
            /src/images/store/store-flower-1-600w@2x.jpg 1200w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, 100vw"
          class="our-offer__item--img"
          alt="red flowers"
        />
        <p class="our-offer__text">compliments</p>
        <p class="our-offer__text--price">from $15</p>
      </li>
      <li class="our-offer__item">
        <img
          src="/src/images/store/store-flower-2-136w.jpg"
          srcset="
            /src/images/store/store-flower-2-136w.jpg     136w,
            /src/images/store/store-flower-2-136w@2x.jpg  272w,
            /src/images/store/store-flower-2-344w.jpg     344w,
            /src/images/store/store-flower-2-344w@2x.jpg  688w,
            /src/images/store/store-flower-2-600w.jpg     600w,
            /src/images/store/store-flower-2-600w@2x.jpg 1200w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, 100vw"
          class="our-offer__item--img"
          alt="white flowers"
        />
        <p class="our-offer__text">bouquets size S</p>
        <p class="our-offer__text--price">from $25</p>
      </li>
      <li class="our-offer__item">
        <img
          src="/src/images/store/store-flower-3-136w.jpg"
          srcset="
            /src/images/store/store-flower-3-136w.jpg     136w,
            /src/images/store/store-flower-3-136w@2x.jpg  272w,
            /src/images/store/store-flower-3-344w.jpg     344w,
            /src/images/store/store-flower-3-344w@2x.jpg  688w,
            /src/images/store/store-flower-3-600w.jpg     600w,
            /src/images/store/store-flower-3-600w@2x.jpg 1200w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, 100vw"
          class="our-offer__item--img"
          alt="blue flowers"
        />
        <p class="our-offer__text">bouquets size M</p>
        <p class="our-offer__text--price">from $45</p>
      </li>
      <li class="our-offer__item">
        <img
          src="/src/images/store/store-flower-4-136w.jpg"
          srcset="
            /src/images/store/store-flower-4-136w.jpg     136w,
            /src/images/store/store-flower-4-136w@2x.jpg  272w,
            /src/images/store/store-flower-4-344w.jpg     344w,
            /src/images/store/store-flower-4-344w@2x.jpg  688w,
            /src/images/store/store-flower-4-600w.jpg     600w,
            /src/images/store/store-flower-4-600w@2x.jpg 1200w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, 100vw"
          class="our-offer__item--img"
          alt="various colours flowers"
        />
        <p class="our-offer__text">bouquets size L</p>
        <p class="our-offer__text--price">from $60</p>
      </li>
    </ul>
    <div class="button">
      <button type="button" class="button__item" data-modal-open>Order flowers</button>
    </div>
    <div class="backdrop is-hidden" data-modal>
      <div class="modal">
        <button type="button" class="modal__close" data-modal-close>
          <svg class="modal__close--item">
            <use href="/src/images/icons.svg#icon-close"></use>
          </svg>
        </button>

        <div class="modal__wrapper">
          <p class="modal__header">Contact us</p>
          <p class="modal__text">
            If you have any additional questions or you want to clarify something before you make an
            order please fill in your contact details. We will call you back.
          </p>
          <form>
            <label for="user-name" class="modal__wrapper--input">
              <p class="modal__text--item">Name</p>
            </label>
            <div class="modal__box">
              <input
                type="text"
                name="name"
                id="user-name"
                minlength="2"
                required
                placeholder="Your name"
                class="modal__box--input"
              />
            </div>

            <label for="email" class="modal__wrapper--input">
              <p class="modal__text--item">E-mail</p>
            </label>
            <div class="modal__box">
              <input
                type="email"
                name="email"
                minlength="3"
                required
                id="email"
                placeholder="Your e-mail"
                class="modal__box--input"
              />
            </div>

            <div>
              <button type="submit" class="modal__send">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
