.about-section {
  margin: 0 16px 60px;
  min-width: 288px;
  height: 395px;
  font-family: 'Montserrat', sans-serif;

  &__text {
    margin-bottom: 16px;
    line-height: 20px;
  }
}

.about-section__heading {
  display: flex;
  position: relative;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 32px;
  align-items: center;

  &::after {
    content: '';
    margin: 0 16px 0 14px;
    border: 1px solid #000000;
    flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .about-section {
    margin: 0 16px 100px;
    min-width: 720px;
    height: 301px;

    &__flex-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__text {
      min-width: 322px;
      font-size: 20px;
      line-height: 24px;
      margin-right: 54px;
    }
  }

  .about-section__heading {
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .about-section {
    min-width: 1232px;
    height: 424px;

    &__text {
      min-width: 510px;
      font-size: 22px;
      line-height: 27px;
      margin-right: 90px;
    }
  }

  .about-section__heading {
    margin-bottom: 26px;
  }
}
