.delivery {
  display: flex;
}
.delivery_content {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.delivery_title {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;

  &::after {
    content: '';
    border: 1px solid #000;
    flex-grow: 1;
    margin-left: 14px;
    width: 330px;
  }
}
.delivery_text {
  font-weight: 500;
  font-size: 14px;
  width: 252px;
  height: 34px;
}

.delivery_img {
  width: 100%;
  margin-bottom: 60px;
}

.delivery_item {
  border: 1px solid #000000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  align-items: center;
  margin-bottom: 25px;
  margin-right: 8px;
  padding: 8px;
}
.delivery_list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style-type: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
}

@media (min-width: 768px) {
  .delivery_item {
    width: 64px;
    height: 64px;
    font-size: 26px;
    padding-top: 16px;
    margin-right: 56px;
    margin-left: 8px;
    margin-bottom: 12px;
  }
  .delivery_title {
    font-size: 44px;

    &::after {
      width: 950px;
    }
  }
  .delivery_content {
    margin-bottom: 59px;
  }
  .delivery_text {
    width: 580px;
    padding-top: 13px;
    font-size: 24px;
  }
  .delivery_img {
    margin-bottom: 40px;
  }
  .delivery_list {
    margin-bottom: 25px;
  }
}

@media (min-width: 1280px) {
  .delivery_text {
    width: 1200px;
  }
  .delivery_title {
    &::after {
      width: 1450px;
    }
  }
}
