.delivery {
  display: flex;
}
.delivery-content {
  display: flex;
  align-items: center;
}
.delivery-title {
  font-size: 34px;
  font-weight: 700;
}
.delivery-border {
  display: block;
  content: '';
  border: 1px solid #000000;
  width: 300px;
  margin-left: 25px;
}
.delivery-img {
  width: 100%;
}

.delivery-item {
  border: 1px solid #000000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  align-items: center;
  margin-bottom: 25px;
  margin-right: 8px;
  padding-top: 8px;
}
.delivery-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style-type: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
}

@media (min-width: 768px) {
  .delivery-item {
    width: 64px;
    height: 64px;
    font-size: 26px;
    padding-top: 16px;
    margin-right: 56px;
    margin-left: 8px;
  }
  .delivery-title {
    font-size: 44px;
  }
  .delivery-border {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .delivery-border {
    width: 985px;
  }
}
