@import '../partials/general';

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  &:link {
    color: inherit;
  }
}
.footer {
  background-color: $main-text-color;
}
.footer__container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    padding-bottom: 32px;
    max-width: 767px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 54px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 72px;
  }
}
.footer__box {
  max-width: 130px;
  margin-top: 32px;

  @media screen and (min-width: 768px) {
    max-width: 236px;
    margin-top: 60px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 72px;
  }
}
.footer__box-icon {
  max-width: 128px;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  @media screen and (max-width: 420px) {
    margin-right: 68px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 60px;
    flex-direction: column;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 72px;
    margin-right: 15px;
  }
}

.footer__header {
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 18px;
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 24px;
  }
}
.footer__text {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-brand;
    transform: scale(1.05);
    border-bottom: 1px solid $color-brand;
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &--margin:not(:last-child) {
    margin-bottom: 0px;
  }

  &--nohover:hover {
    color: #ffffff;
    transform: none;
    border-bottom: none;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 19px;
  }
  &--tablet-desktop {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &--mobile {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
.footer__social-bg {
  width: 28px;
  height: 28px;
  background-color: $main-text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}
.footer__social-icon {
  width: 28px;
  height: 28px;
  stroke: #ffffff;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    stroke: #4267b2;
  }
  &--instagram:hover {
    stroke: #833ab4;
  }
}

.footer__logo-icon {
  width: 73px;
  height: 57px;
  fill: #ffffff;
  margin-top: 72px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $color-brand;
  }

  @media screen and (max-width: 1279px) {
    display: none;
  }
}
