$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Inter', sans-serif;

$color-brand: #e86f54;
$main-text-color: #000000;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: #000000;
  &:link {
    text-decoration: none;
  }
  &hover {
    text-decoration: none;
  }
}
