.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-section__item1 {
  width: 30%;
}
.header-section__logo,
.header-section__tel {
  width: 45px;
  height: 35px;
}
.header-section__item2 {
  display: none;
  width: 30%;
}
.header-section__nav {
  display: flex;
  justify-content: space-between;
  padding: 0;

  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}
.header-section__item3 {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
@media screen and (min-width: 480px) and (max-width: 1200px) {
  .header-section__item1 {
    width: 20%;
  }
  .header-section__logo,
  .header-section__tel {
    width: 72px;
    height: 57px;
  }
  .header-section__item2 {
    display: block;
    width: 50%;
  }
  .header-section__item3 {
    display: flex;
    justify-content: flex-end;
    width: 20%;
  }
}
@media screen and (min-width: 1200px) {
  .header-section__item1 {
    width: 20%;
  }
  .header-section__logo,
  .header-section__tel {
    width: 72px;
    height: 57px;
  }
  .header-section__item2 {
    display: block;
    width: 50%;
  }
  .header-section__item3 {
    display: flex;
    justify-content: flex-end;
    width: 20%;
  }
}
