.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-section__item1 {
  width: 30%;
}
.header-section__logo {
  width: 45px;
  height: 35px;
}
.header-section__item2 {
  display: none;
  width: 30%;
}
.header-section__nav {
  display: flex;
  justify-content: space-between;
  padding: 0;

  font-family: $font-primary;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}
.header-section__item3 {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
.header-section__tel {
  width: 22px;
  height: 22px;
}
.header-section__item4 {
  display: block;
  width: 24px;
  height: 24px;
}
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  &:hover {
    border: none;
    box-shadow: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 7%;
  background-color: $color-brand;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 480px) and (max-width: 1280px) {
  .header-section__item1 {
    width: 20%;
  }
  .header-section__logo {
    width: 72px;
    height: 57px;
  }
  .header-section__item2 {
    display: block;
    width: 60%;
  }
  .header-section__item3 {
    display: flex;
    justify-content: flex-end;
    width: 20%;
  }
  .header-section__tel {
    width: 24px;
    height: 24px;
  }
  .header-section__item4 {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .header-section__item1 {
    width: 20%;
  }
  .header-section__logo {
    width: 72px;
    height: 57px;
  }
  .header-section__item2 {
    display: block;
    width: 50%;
  }
  .header-section__item3 {
    display: flex;
    justify-content: flex-end;
    width: 20%;
  }
  .header-section__tel {
    width: 24px;
    height: 24px;
  }
  .header-section__item4 {
    display: none;
  }
}
