.our-offer {
  font-family: $font-primary;
  color: $main-text-color;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.22;
  text-transform: uppercase;
  position: relative;

  &::after {
    display: block;
    content: '';
    width: 190px;
    height: 0px;
    display: block;
    position: absolute;
    top: 13px;
    left: 100px;
    border: 1px solid $main-text-color;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    padding: 32px 0px;
  }

  &__item {
    width: calc((100% - 16px) / 2);

    &--img {
      width: 100%;
    }
  }

  &__text {
    font-family: $font-primary;
    color: $main-text-color;
    margin: 16px 0px 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;

    &--price {
      font-family: $font-primary;
      color: $main-text-color;
      font-weight: 600;
      font-size: 12px;
      line-height: 1.25;
      opacity: 0.6;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  &__item {
    font-family: $font-primary;
    color: $main-text-color;
    padding: 10px 35px;
    gap: 10px;
    background: #e86f54;
    border-radius: 38px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #ffff;
  }
}
