.our-offer {
  font-family: $font-primary;
  color: $main-text-color;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.22;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &::after {
    content: '';
    border: 1px solid #000;
    flex-grow: 1;
    margin-left: 14px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    padding: 32px 0px;
  }

  &__item {
    width: calc((100% - 16px) / 2);

    &--img {
      width: 100%;
    }
  }

  &__text {
    font-family: $font-primary;
    color: $main-text-color;
    margin: 12px 0px 6px;
    font-weight: 500;
    line-height: 1.25;

    &--price {
      font-family: $font-primary;
      color: $main-text-color;
      font-weight: 600;
      font-size: 12px;
      line-height: 1.25;
      opacity: 0.6;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  &__item {
    font-family: $font-primary;
    color: $main-text-color;
    padding: 10px 35px;
    background: $color-brand;
    border-radius: 38px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #ffff;
    cursor: pointer;

    &:hover {
      background: #e25b41;
    }
  }
}

@media screen and (min-width: 769px) {
  .our-offer {
    font-size: 44px;
    line-height: 1.23;

    &::after {
      margin-left: 16px;
    }

    &__wrapper {
      gap: 32px;
      padding: 60px 0px;
    }

    &__item {
      width: calc((100% - 32px) / 2);
    }

    &__text {
      position: relative;
      font-size: 32px;
      line-height: 1.22;
      display: flex;
      align-items: center;
      margin: 16px 0px 8px;

      &--price {
        font-size: 24px;
        line-height: 1.21;
      }

      &::after {
        content: '';
        border: 1px solid #000;
        flex-grow: 1;
        margin-left: 8px;
      }
    }
  }

  .our-offer__button {
    margin-bottom: 100px;

    &--item {
      padding: 20px 40.35px;
      font-size: 28px;
      line-height: 0.86;
    }
  }
}

@media screen and (min-width: 1280px) {
  .our-offer__text {
    font-size: 36px;
    line-height: 1.22;
    margin-bottom: 4px;

    &--price {
      font-size: 28px;
    }

    &::after {
      margin-left: 16px;
    }
  }

  .our-offer__wrapper {
    padding: 80px 0px;
  }
}

// MODAL START //

.modal {
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translateY(0);
  width: 272px;
  background-color: white;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 550ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal__close {
  position: absolute;
  top: 19px;
  right: 19px;
  background-color: white;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  border-radius: 50px;
  padding: 0px 0px;
}

.modal__close:hover {
  fill: #2196f3;
}

.modal__close--item {
  display: flex;
  width: 12px;
  height: 12px;
}

.is-hidden .modal {
  transform: translateY(-150%);
}

.modal__wrapper {
  padding: 28px 16px;
}

.modal__header {
  font-family: $font-primary;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 14px;
  color: $main-text-color;
}

.modal__text {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 18px;
  color: $modal-grey;
}

.modal__wrapper--input {
  font-family: $font-primary;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal__text--item {
  color: $modal-grey;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.17;
  text-align: left;
  margin-bottom: 4px;
}

.modal__box {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

.modal__box--input {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  font-family: $font-primary;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__box--input:not(:placeholder-shown):required:valid {
  border-color: #3cbc81;
}

.modal__box--input:not(:placeholder-shown):required:invalid {
  border-color: #e74a3b;
}
.modal__send {
  font-family: $font-primary;
  width: 100%;
  height: 37px;
  background: rgba(232, 111, 84, 0.4);
  border-radius: 8px;
  border: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 0;
  margin-top: 24px;
}

.modal__send:hover {
  background: #e86f54;
}

@media screen and (min-width: 769px) {
  .modal__wrapper {
    padding: 48px 32px;
  }

  .modal {
    width: 480px;
    height: 511px;
  }

  .modal__header {
    text-align: left;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.08;
  }

  .modal__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 32px;
  }

  .modal__text--item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
  }

  .modal__box--input {
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }

  .modal__send {
    padding: 14px 0;
    font-size: 18px;
    margin-top: 34px;
    height: 50px;
  }

  .modal__close--item {
    width: 16px;
    height: 16px;
  }

  .modal__box {
    margin-bottom: 24px;
  }
}

// MODAL END //
